<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyorder">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Shishas"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Combinados"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Carrito"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cervezas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Batidos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Refrescos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Carta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>